paper-button {
  display: inline-block;
  box-sizing: content-box;
  margin: 5px 5px 10px 5px;
}

.paper-btn {
  padding: 8px 16px;
  color: var(--ele-fg-color);
  background: var(--ele-bg-color);
  font-weight: 600;
  border: 2px solid var(--border-fe-color);
  box-shadow: 4px 4px 0 var(--border-fe-color);
  transition: background 0.2s ease-out, box-shadow 0.2s ease-out, color 0.2s ease-out;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.paper-btn:hover {
  box-shadow: 0px 0px 0 var(--border-fe-color);
  color: var(--ele-bg-color);
  background: var(--ele-fg-color);
}

.paper-btn:active {
  background: var(--ele-active-bg-color);
}